<%= form_for @parking_event do |f| %>
  <% if @parking_event.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@parking_event.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @parking_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :stripe_card_token %>

  <div class="field">
    <%= label_tag :spacenumber  %>
    <%= text_field_tag :identifier %>
  </div>  
  <div class="field">
    <%= label_tag :duration  %>
     
    <%= select :parking, :duration, [["15 Minutes", "15"],['30 Minutes', 30],['45 Minutes',45],['1 Hour',60],['1.5 Hours',90],['2.0 Hours',120]] %>
  </div>  

  <div class="field">
    Amount: <%= text_field_tag :amount_in_cents, '555' %>
  </div>

  <% if @default_payment_method %>
    Using your saved credit card information!
  <% else %>
    <div class="field">
      <%= check_box_tag :save_card %> 
      <%= label_tag("Save Card?") %>  
    </div>  

    <div class="field">
        <%= label_tag :card_number, "Credit Card Number " %>
        <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
        <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Pay Now" %></div>
<% end %>

<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>