<h1>Payment Processors</h1>


<table>
<tr>
<th>Name</th>
<th>Status</th>
<th>Remove</th>
</tr>
<% @payment_processors.each do |pp| %>
<tr>
<td><%=pp.customer_description%></td>
<td><%=pp.status%></td>
<td><%= link_to 'Destroy', payment_processor_path(pp), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>