<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <% if current_user.customer? %>
      <li><%= link_to 'Dashboard', dash_path() %></li>
      <li><%= link_to 'Park Now!', new_parking_event_path() %></li>
      <li><%= link_to 'Payment Methods', payment_processors_path() %></li>
    <% end %>
    <li>   
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <li>
    <%= link_to('Logout (' + current_user.email + ')' , destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>





